<div class="container" *ngIf="a.currentUser() === '' else welcomeuser">
  
  <h1>Welcome</h1>

  <p>Please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a></p>
  
</div>
<ng-template #welcomeuser>
  <div class="container">
  
    <h1>Welcome {{a.currentUser()}}</h1> &nbsp;
    <h2>Here is a list of your guides:</h2> &nbsp;
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Short Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Date Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let g of guides'>
          <td>{{ g.shortTitle }}</td>
          <td>{{ g.description }}</td>
          <td>{{ g.category }}</td>
          <td>{{ g.dateUpdated }}</td>
          <td>
            <a routerLink = "/game-guides/detail/{{g._id}}" class="btn btn-default">View</a>
          </td>
        </tr>
        <tr *ngIf='guides == null || guides.length == 0'>
            <td>No Results</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</ng-template>



