<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h3 class="font-weight-bold">{{ guide.fullTitle }}</h3>
        <button class="btn shadow-none font-weight-bold text-white darkBlueBGColor" type="button"
          routerLink="/game-guides/edit/{{guide._id}}">
          <i class="fa fa-edit"></i>
        </button>
      </div>
      <h6>by <span class="darkBlueColor font-weight-bold">{{ guide.author }}</span></h6>
      <hr>
      <div>
        <i class="fa fa-clock-o" aria-hidden="true"> Posted on {{ guide.dateCreated | date: 'medium' }}</i>
      </div>
      <div>
        <i class="fa fa-edit" aria-hidden="true"> Updated on {{ guide.dateUpdated | date: 'medium' }}</i>
      </div>
      <hr>
      <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor='let picture of guide.images let i = index' [ngClass]="{'active': i == 0 }">
            <img class="d-block w-100" src={{picture}} alt="First slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <section>
        <h5 class="mt-4 font-weight-bold">{{ guide.shortTitle }} <span class="badge darkBlueBGColor text-white ml-2">v{{
            guide.patch
            }}</span><span class="badge darkBlueBGColor text-white ml-2">{{ guide.category
            }}</span></h5>
        <h6>{{ guide.description }}</h6>
        <p class="mt-4 font-weight-bold">{{ guide.content }}</p>
      </section>
      <div class="card mt-5">
        <div class="d-flex justify-content-between commentsSection" data-toggle="collapse" data-target="#demo">
          <h3 class="font-weight-bold m-3">Comments</h3>
          <i class="fa fa-caret-down align-self-center m-3" aria-hidden="true"></i>
        </div>
        <div id="demo" class="collapse m-3">
          <div *ngFor="let item of guide.comments" class="commentBoxContainer">
            <div style="width: 100%;">
              <div class="commentBoxAuthor">
                {{item.author}}
              </div>
              <div class="commentBoxCommentSec">
                {{item.content}}
              </div>
            </div>
            <div id="{{item._id}}" class="removeCross" (click)="handleCommentDelete($event)"
              *ngIf="a.currentUser() === item.author">
              &#x2718;
            </div>
          </div>
          <div id="comments"><a name="comments"></a>
            <br>
            <h3>Leave a Comment</h3>

            <label for="comment" class="required">Your message</label>
            <textarea name="comment" id="comment" rows="10" tabindex="4" required="required"
              [(ngModel)]="guideComment.content" #content="ngModel"></textarea>

            <div class="loginMessage">
              <p class='alert alert-danger' *ngIf="this.emptyComment === true">
                Comment Box is Empty!
              </p>
              <p class='alert alert-danger' *ngIf="this.commentUploadStatus === false">
                Comment Submit Failed!
              </p>
              <p class='alert alert-success' *ngIf="this.commentUploadStatus === true">
                Comment Submit Successfully!
              </p>
            </div>
            <button class="btn shadow-none font-weight-bold text-white darkBlueBGColor" type="button"
              (click)="onSave()">
              <i class="fa fa-comment"> Comment</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Tristan put your custom html here and use the one way data binding to display the information ---->

<!--
    You can use these properties:
    author: string;
    fullTitle: string;
    shortTitle: string;
    description: string;
    category: string;
    content: string;
    
<h1>{{guide.fullTitle}}</h1>
    <h4>{{guide.author}}</h4>
<h4>{{guide.category}}</h4>
<p>{{guide.description}}</p>
<p>{{guide.content}}</p>
-->