<div class="row">
    <div class="col-md-8">
      <h3>Login Placeholder</h3>
    
      <form (ngSubmit)='onSubmit()' #f='ngForm'>
  
        <div class="form-group">
          <label class="control-label" for="username">Username:</label>
          <input class="form-control" id="username" name="username" [(ngModel)]="userCredentials.username" required
            #username="ngModel" autofocus>
  
          <!-- Validation error area -->
          <!-- Single condition... -->
          <!-- <div [hidden]="name.valid || name.pristine" class='alert alert-danger'> -->
          <!-- Multiple conditions... -->
          <div *ngIf='username.invalid && (username.dirty || username.touched)' class='alert alert-danger'>
            <!-- The code below is situation-dependent - think before coding -->
            <div *ngIf='username.errors?.required'>Username is required</div>
          </div>
          
        </div>

        <div class="form-group">
            <label class="control-label" for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" [(ngModel)]="userCredentials.password" required
              #password="ngModel">
    
            <!-- Validation error area -->
            <div *ngIf='password.invalid && (password.dirty || password.touched)' class='alert alert-danger'>
              <div *ngIf='password.errors?.required'>Password is required</div>
            </div>
          </div>

        <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Login</button>&nbsp;
        <a routerLink="/home" class="btn btn-secondary">Back to home</a>

        
  
      </form>

      <div class="loginMessage">
        <p  class='alert alert-danger' *ngIf="this.loginStatus === false">
          Login Failed: invalid username and or password
        </p>
        <p   class='alert alert-success' *ngIf="this.loginStatus === true">
          Login Success!
        </p>
      </div>

    </div>
  </div>

  

