<div class="container">
  <div class="IMG">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
      <h1>Game<span style="color: white;">Hub</span></h1>
    </a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark p-0 mb-4">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="d-lg-none">Game<span style="color: white;">Hub</span></h1>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="game-guides" routerLinkActive="active">Game Guides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="forums" routerLinkActive="active">Forums</a>
        </li>
        <li class="nav-item" *ngIf="a.getToken() === null else logout">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <ng-template #logout>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" (click)="a.logoutUser()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="game-guides" routerLinkActive="active">Game Guides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="forums" routerLinkActive="active">Forums</a>
      </li>
      <li class="nav-item" *ngIf="a.getToken() === null else logout">
        <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <ng-template #logout>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="a.logoutUser()">Logout</a>
        </li>
      </ng-template>
      
    </ul>
  </div>

</nav> -->